.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke-width: 1.5px;
}

.loadedline {
            fill: none;
            stroke: green;
            stroke-width: 0.5px;
            stroke-dasharray: 5 5;
        }

.loadedlinetext {
            fill: green;
            font-size: 10px;
        } 

.unloadedline {
            fill: none;
            stroke: red;
            stroke-width: 0.5px;
            stroke-dasharray: 5 5;
        }        
.unloadedlinetext {
            fill: red;
            font-size: 10px;
        }        

path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.legend {
    font-size: 16px;
    font-weight: bold;
    text-anchor: middle;
}